@model PermissionViewModel
@{
    ViewData["Title"] = "Permissions";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}




<h1> @ResourceWeb.lbManagePermission (@Model.RoleName)</h1>
@* <h3>Manage Roles for @Model.RoleName</h3> *@
<br />
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="Permissions" method="post" asp-action="UpdatePermissions" asp-route-id="@Model.RoleId" class="d-inline">
            <input asp-for="@Model.RoleId" type="hidden" />
            <table class="table table-striped" id="userRolesTable">
                <thead>
                    <tr>
                       
                        <th>
                            اسم الصلاحية
                        </th>
                        <th>
                            العمليات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Enum.GetValues(typeof(PermissionModuleName)))
                    {
                        <tr>
                            @switch (item.ToString()){
                                case "Home":
                                    <td>لوحة التحكم</td>
                                    break;
                                case "Accounts":
                                    <td>حسابات المستخدمين</td>
                                    break;
                                case "Roles":
                                    <td>مجموعة المستخدمين</td>
                                    break;
                                case "Register":
                                    <td>المستخدمين</td>
                                    break;
                                case "Categories":
                                    <td>الفئات</td>
                                    break;
                            }
                           
                            @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                            {
                                if (Model.RoleClaims[i].Value.Split('.')[1] == item.ToString())
                                {

                                    <td>
                                        <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                        @Model.RoleClaims[i].Value.Split('.')[2]
                                    </td>
                                    <td>
                                        <div class="form-check m-1">
                                           
                                            <input asp-for="@Model.RoleClaims[i].IsSelected" class="form-check-input" />
                                        </div>
                                    </td>

                                }
                            }
                        </tr>

                    }

                </tbody>
            </table>
            <div class="col-sm-12" style=" padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn bg-success">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
}